[Desktop Entry]
Name=herdr
Comment=Agent multiplexer that lives in your terminal
Exec=@EXEC@
Icon=@HOME@/.local/share/icons/herdr.png
Type=Application
Terminal=@TERMINAL@
Categories=Development;TerminalEmulator;
StartupNotify=true
StartupWMClass=@WMCLASS@
